{% extends 'base.html' %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}
<section>
    <div class="p-5 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h2 class="display-5-fw-bold">ElevateX Jobs.get Hired Quickly</h2> <br>
            <div class="card">
                <div class="card-body">
                    <form class="row gy-2 gx-3 align-items-center" method="GET">
                        <div class="col-sm-2">
                            <label  for="autoSizingInput">Name</label>
                            {% render_field filter.form.title class="form-control" id="autoSizingInput" placeholder="Job Keyword" %}
                           
                        </div>
                        <div class="col-sm-2">
                            <label  for="autoSizingInput">Select Location</label>
                            {% render_field filter.form.state class="form-control"  %}
                           
                            
                        </div>
                        <div class="col-sm-3">
                            <label for="autoSizingInput">Choose Job Type</label>
                            {% render_field filter.form.job_type class="form-control"  %}
                            
                        </div>
                        <div class="col-sm-3">
                            <labelfor="autoSizingInput">Select Industry</label>
                            {% render_field filter.form.industry class="form-control"  %}
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn-btn-primary">Search</button>
                        </div>

                    </form>
                </div>
            </div>

        </div>

    </div>
    <p class="col-md-8 fs-6 mt-3">
        Welcome To ElevateX.Search any job you want hurrray

    </p>
    <a  href="{% url 'job-listing' %}"type="button" class="btn-btn-primary">More Jobs</a>
</section>

<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for job in filter.qs %}
   
    <div class="col">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title">{{job.title}}</h5>
                <p class="card-text"> Industry:{{job.industry}}</p>
                <p class="card-text"> Job Type:{{job.job_type}}</p>
                <p class="card-text"> Job Location:{{job.state}},{{job.city}}</p>
                <p class="card-text"> Salary:{{job.salary|intcomma}}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">created {{ job.timestamp|naturaltime}}</small>
            </div>
        </div>
    </div>
    {% endfor %}
    

</div> <br>

<!-- <div class="row align-items-center">
    <div class="col-md-10 mx-auto col-lg-2 mt-4">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <a class="page-link">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>

    </div>
</div>
<footer class="footer mt-auto py-3 bg-light">
    <div class="container text-center">
        <span class="text-muted"></span>
    </div>
</footer> -->

{% endblock content %}