{% extends 'base.html' %}

{% block content %}

{% if request.user.is_applicant%}
{% if not request.user.has_resume %}
<div class="alert alert-danger" role="alert">
    <b>You have not created resume yet.Create now from <a href="{% url 'update-resume' %}"> here</a></b>

  </div>
{% endif %}
<section >
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold"> Welcome to ElevateX jobs</h1>
            <p class="col-md-8 fs-4">Applicant Dashboard</p>
        </div>
    </div>
</section>

{% elif request.user.is_recuriter %}
{% if not request.user.has_company %}
<div class="alert alert-danger" role="alert">
    <b>You have not created company yet.Create now from <a href="{% url 'update-company' %}"> here</a></b>

  </div>
{% endif %}
<section >
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Welcome to ElevateX jobs</h1>
            <p class="col-md-8 fs-4">Recuriter Dashboard</p>
        </div>
    </div>
</section>
{% endif %}

{% endblock content %}